html {
  overflow-y: scroll;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  width: min(100% - 40px, 1200px);
  margin-inline: auto;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}

.movie {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.movie:hover {
  transform: scale(1.03);
}

.movie__poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.search {
  margin: 30px 0;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search__label-input {
  display: block;
  margin-bottom: 7px;
}

.search__input {
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.search__checkbox {
  margin-right: 8px;
}

.search__label-checkbox {
  font-size: 0.8rem;
  user-select: none;
  cursor: pointer;
}

.search__group--input {
  margin-bottom: 7px;
}

.search__group--checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
}
